<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @AppSettings.Title</title>

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
   
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-car"></i> Car Sales</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Vehicles" asp-action="Index"><i class="fas fa-car"></i> Vehicles</a>
                        </li>
                       

                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-action="GetFavorites" asp-controller="Favorites"> <i class="fas fa-heart"></i> Favorites</a></li>
                        @if(User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Brands" asp-action="Index">Brands</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Models" asp-action="Index">Models</a>
                            </li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-action="Index" asp-controller="Customers"> <i class="fas fa-users"></i> Customers</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="Sale" asp-action="Index" asp-controller="Home"><i class="fas fa-shopping-cart"></i> Sales</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="Report" asp-action="Index" asp-controller="Home"> <i class="fas fa-chart-bar"></i> Report</a></li>
                        }
                    </ul>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto py-4 py-lg-0">

                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a asp-action="Login" asp-controller="Users" asp-area="Account" class="navbar-brand"><i class="fas fa-sign-in-alt"></i> Login</a>
                                <a asp-action="Register" asp-controller="Users" asp-area="Account" class="navbar-brand"><i class="fas fa-user-plus"></i> Register</a>
                            }
                            else
                            {
                                <a asp-action="Logout" asp-controller="Users" asp-area="Account" class="navbar-brand"><i class="fas fa-sign-out-alt"></i> Logout</a>

                                <span class="navbar-brand"> <i class="fas fa-user"></i> @User.Identity.Name</span>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
   


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 




